:{$PORT} {
    log {
        output stdout
    }

    # Health check endpoint
    handle /health {
        respond "Caddy says hi!" 200
    }
    
    # Set the PostgREST URL from the environment variable with proper configuration
    reverse_proxy {$POSTGREST_URL} {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-For {remote_host}
    }
}
